/*To reset browser's css:*/

table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 850px;
  table-layout: fixed;
}

/*My own css:*/

body {
	background-color: #7DD4C8;
	max-width: 1000px;
	margin: auto;
}

h1 {
	text-align: center;
	color: #fff;
	font-size: 70px;
	font-family: Garamond; 
	text-shadow: black 0.05em 0.05em 0.1em;

}

p {
	margin: 4%;
	font-size: 18px;
}

table, th, td {
  color: black; 
  border: 5px solid #fff;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(247, 247, 247);
  margin: 0 auto 30px auto;
}

th {
	font-family: Garamond;
	 font-weight: bold;
	 color: #7DD4C8;
	 text-shadow: black 0.05em 0.05em 0.1em;
	 font-size: 50px;
	 width: 45%;
	 overflow: hidden;
}


pre {
	margin: 6%;
	font-size: 15px;
}

h2 {
	text-align: center;
	color: #7DD4C8;
	text-shadow: black 0.05em 0.05em 0.1em;
	font-family:'Vollkorn';
}


